{% extends 'store/layouts/main.html' %}

{% block content %}



    <!-- Navbar -->
<div class="navbar navbar-expand-lg" style="background-color:#8EF00D; margin-top: 75px;">
    <div class="container-fluid">
      <h5>
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'myorders' %}">My orders list</a> 
      </h5>
    </div>
</div>
<div class="container my-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow">
            <div class="card-header">
                <h3 class="mb-0">My orders</h3>
            </div>
                <div class="card-bord">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Order Date</th>
                                <th>Tracking Number</th>
                                <th>Total Price</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in orders  %}
                            <tr>
                                <td>{{ item.created_at }}</td>
                                <td>{{ item.tracking_no }}</td>
                                <td>{{ item.total_price }}</td>
                                <td>{{ item.status }}</td>
                                <td>
                                    <a href="{% url "orderview" item.tracking_no %}" class="btn btn-primary">view</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}