{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        
        {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">


    <link href="{% static "css/custom.css" %}" rel="stylesheet">


    {% comment %} Alertfy Js {% endcomment %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>

    {% comment %} css for jquery auto complete {% endcomment %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    {% comment %} for livechat {% endcomment %}
    <meta name="referrer" content="no-referrer-when-downgrade">
    
<style>
    *{
        font-family: 'Roboto', sans-serif;
    }
    a{
        text-decoration:none;
    }
    .product-viewtag{
        background-color: red;
        color: #fff;
        font-size: 11px;
        line-height: 1;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top:22px;
        margin-left: 17.5rem;
        padding: 7px 10px;
        font-weight: 600;
        min-width: 45px;
    }
    .active{
        font-weight:800;
    }
    .active:hover{
        background-color: transform; /* Change background color on hover */
        color: #333;
    }
    
    
</style>
</head>
<body>
    {% include 'store/include/navbar.html' %}
    {% block content %}

    {% endblock content %}

    <a href="https://wa.me/+250789105277?text=I'm%20interested %20to%20shopping%20from your store" target="_blank" class="whatsapp-chat">
        <img src="{% static "/images/whatsapp.png" %}" alt="whatsapp" width="80px" />
    </a>

    {% comment %} Jquery {% endcomment %}
    <script src="{% static '/js/jquery-3.7.1.min.js' %}"></script>

    {% comment %} Custom Js {% endcomment %}
    <script src="{% static '/js/custom.js' %}"></script>

    {% comment %} Bootstrap {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        var availableTags = [
            "ActionScript",
            "AppleScript",
            "Asp",
            "BASIC",
            "C",
            "C++",
            "Clojure",
            "COBOL",
            "ColdFusion",
            "Erlang",
            "Fortran",
            "Groovy",
            "Haskell",
            "Java",
            "JavaScript",
            "Lisp",
            "Perl",
            "PHP",
            "Python",
            "Ruby",
            "Scala",
            "Scheme"
        ];
        {% comment %} searchproducts id from the navbar search bar near placeholder {% endcomment %}
        $( "#tags" ).autocomplete({
        source: availableTags
        });
    </script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/652e6a9ff2439e1631e53b73/1hcul10ks';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->


    {% comment %} Alertfy Js {% endcomment %}
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    <script>
        alertify.set('notifier','position', 'top-up');
        {% for msg in messages %}
            alertify.success('{{ msg }}');
        {% endfor %}
    </script>
    {% block scripts %}

    {% endblock scripts %}

    {% comment %} PayPal checkout {% endcomment %}
    <script src="{% static '/js/custom.js' %}"></script>

</body>
</html>