
{% extends 'store/layouts/main.html' %}

{% load static %}

{% block content %}
<style>
    .container{
        padding-top:10%;
    }
    .auth{
        margin-top:10px;
        text-align: center;
    }
    p{
        font-family: serif;
        font-weight: 700;
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6" style="background-color: rgb(255,255,255);">
            <div class="auth">
                <p>login with social media</p>
                <a href="{% url 'social:begin' 'google-oauth2' %}"><img src="{% static 'images/7123025_logo_google_g_icon.png' %}" alt="fablo" class="navbar-logo"></a>
                {% comment %} <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> {% endcomment %}
                </div>
            <div class="">
                <div class="card mt-3 shadow">
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="text-center">
                                <h2> Login </h2>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for=""> Username : </label>
                                <input type="text" class="form-control" name="username" placeholder="Enter Username">
                            </div>
                            <div class="form-group">
                                <label for=""> Password : </label>
                                <input type="password" class="form-control" name="password" placeholder="Enter Password">
                            </div>
                            
                            <button type="submit" class="btn float-end shadow btn-success px-4 mt-2">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}