{% extends 'store/layouts/main.html' %}

{% block content %}
<style>
  /* Global styles */
  body {
    background-color: #f5f5f5;
  }

  /* Navbar styles */
  .navbar {
    background-color: #E5EFEC;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
  }

  /* Navbar links */
  .navbar a {
    color: #14A244;
    text-decoration: none;
    margin-right: 10px;
    font-size: 16px;
  }

  /* Card container */
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: -spacebetween;
  }

  /* Individual card styles */
  .card {
    flex: 0 0 calc(60% - 20px); /* Adjust card width */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
  }

  /* Card body */
  .card-body {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  /* Category image */
  .category-image {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Category image styles */
  .category-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.9;
  }

  /* Hover effect on images */
  .category-image img:hover {
    transform: scale(1.1);
    opacity: 1;
  }

  /* Category name */
  .category-name {
    text-align: center;
    margin-top: 10px;
  }

  /* Product name and prices */
  .category-name div {
    font-size: 12px !important; /* Reduced font size for all content on the card */
  }

  /* Floating elements for prices */
  .float-start,
  .float-end {
    font-size: 10px !important; /* Reduced font size for floating elements */
    display: inline-block;
    float: left;
  }

  .float-end {
    float: right;
  }

  /* Additional styles */
  h1 {
    margin-top: 8px;
  }

  h5 {
    margin-top: 65px;
    color: #d4cfcf;
  }
  /* Tag font size */
  .product-viewtag {
    font-size: 10px; /* Adjust the font size as needed */
  }
  label{
    margin-right:74%;
  }
</style>

<!-- Navbar -->
<div class="navbar navbar-expand-lg" style="background-color:#8EF00D; margin-top: 20px;">
    <div class="container-fluid">
      <h5>
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'checkout' %}">Checkout</a> 
      </h5>
    </div>
</div>


<div class="container-fluid mt-3">
    <form action="{% url "placeorder" %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-7">
                <div class="card shadow">
                    <div class="card-body">
                        <h6> Fill Out Your Details</h6>
                        <hr>
                        <div class="row checkoutform">
                            <div class="col-md-6">
                                <label>First Name</label>
                                <input type="text" required value="{{ request.user.fname }}" class="form-control" name="fname" placeholder="Enter First Name">
                            </div>      
                            <div class="col-md-6">
                                <label>Last Name</label>
                                <input type="text" required value="{{ request.user.lname }}" class="form-control" name="lname" placeholder="Enter Last Name">
                            </div> 
                            <div class="col-md-6 mt-2">
                                <label>Email</label>
                                <input type="text" required value="{{ userprofile.user.email }}" class="form-control" name="email" placeholder="Enter Your Email">
                            </div>          
                            <div class="col-md-6 mt-2">
                                <label>Contact</label>
                                <input type="text" required value="{{ userprofile.user.phone }}" class="form-control" name="phone" placeholder="Enter Your Mobile">
                            </div>    
                            <div class="col-md-6 mt-2">
                                <label>Address</label>
                                <input type="text" required class="form-control" name="address" placeholder="The Place Where You Live" value="{{ userprofile.user.address }}">
                            </div>   
                            <div class="col-md-6 mt-2">
                                <label>City</label>
                                <input type="text" required value="{{ userprofile.user.city }}" class="form-control" name="city"placeholder="Enter City">
                            </div>   
                            <div class="col-md-6 mt-2">
                                <label>State</label>
                                <input type="text" required value="{{ userprofile.user.state }}" class="form-control" name="state" placeholder="Enter State">
                            </div>   
                            <div class="col-md-6 mt-2">
                                <label>Country</label>
                                <input type="text" required value="{{ userprofile.user.country }}" class="form-control" name="country" placeholder="Enter Country">
                            </div>   
                            <div class="col-md-6 mt-2">
                                <label>Postal</label>
                                <input type="text" required value="{{ userprofile.user.pincode }}" class="form-control" name="pincode"placeholder="Enter Postal Code If Any">
                            </div>   
                        </div>               
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card shadow">
                    <div class="card-body">
                        <h6>Orders Details</h6>
                        <hr>
                        {% comment %} check if the cart has item {% endcomment %}
                        {% if cartitems %}
                            <table class="table table-stripeds table-bordereds">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Qty</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for item in cartitems %}
                                    <tr>
                                        <td> 
                                            {% comment %} <img src="{{ item.product.product_image.url }}" class="me-2" height="50px" width="50px"> {% endcomment %}
                                            {{ item.product.name }}
                                        </td>
                                        <td> {{ item.product_qty }}</td>
                                        <td> {{ item.product.selling_price }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                            <h6 class="fw-bold">
                                Grand Total:
                                <span>FRw {{ total_price }}</span>
                            </h6>
                            <input type="hidden" value="ChezBs" name="payment_mode">
                            <div class="mt-3">
                                <button type="submit" class="btn btn-success w-100">ChezBs | Place Order</button>
                  
                                <!-- Set up a container element for the paypal button -->
                                <button type="button" class="btn btn-success w-100 mt-2" id="paypal-button">PayPal</button>
                                <div id="paypal-button-container"></div>
                            </div>
                        {% else %}
                            <h4>Your Cart Is Empty</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


{% endblock content %}

{% block scripts %}
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="https://www.paypal.com/sdk/js?client-id=AdwBNPszB8wGaYk7_TUQIAeaFis42FYd4wCw1VyOaVBpqNa605hGqKGwj2NCaGNQfIriP0rYGP59N2ei"></script>
    

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Call your server to set up the transaction
            createOrder: function(data, actions) {
                return fetch('/demo/checkout/api/paypal/order/create/', {
                    method: 'post'
                }).then(function(res) {
                    return res.json();
                }).then(function(orderData) {
                    return orderData.id;
                });
            },

            // Call your server to finalize the transaction
            onApprove: function(data, actions) {
                return fetch('/demo/checkout/api/paypal/order/' + data.orderID + '/capture/', {
                    method: 'post'
                }).then(function(res) {
                    return res.json();
                }).then(function(orderData) {
                    // Three cases to handle:
                    //   (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
                    //   (2) Other non-recoverable errors -> Show a failure message
                    //   (3) Successful transaction -> Show confirmation or thank you

                    // This example reads a v2/checkout/orders capture response, propagated from the server
                    // You could use a different API or structure for your 'orderData'
                    var errorDetail = Array.isArray(orderData.details) && orderData.details[0];

                    if (errorDetail && errorDetail.issue === 'INSTRUMENT_DECLINED') {
                        return actions.restart(); // Recoverable state, per:
                        // https://developer.paypal.com/docs/checkout/integration-features/funding-failure/
                    }

                    if (errorDetail) {
                        var msg = 'Sorry, your transaction could not be processed.';
                        if (errorDetail.description) msg += '\n\n' + errorDetail.description;
                        if (orderData.debug_id) msg += ' (' + orderData.debug_id + ')';
                        return alert(msg); // Show a failure message (try to avoid alerts in production environments)
                    }

                    // Successful capture! For demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                    // Replace the above to show a success message within this page, e.g.
                    // const element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '';
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                });
            }

        }).render('#paypal-button');
    </script>

{% endblock scripts %}
