<style>
  .navbar-logo {
    max-width: 100px; /* Adjust the width as needed */
    max-height: 30px; /* Adjust the height as needed */
    vertical-align: middle; /* Align the image vertically within the navbar */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.9);
}
h4{
  font-size: 10px;
  margin-left: 20%;
  color: #8EF00D;
}

</style>
<nav class="navbar navbar-expand-lg bg-primary fixed-top"> <!-- Change bg-body-tertiary to bg-primary -->
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="static/images/bs.png" alt="Your Logo" class="navbar-logo"> 
      Chez Bs Market<br/>
        <h4>shop with us</h4>
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" aria-current="page" href="{% url "home" %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'collections' %}active{% endif %}" href="{% url "collections" %}">Store</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'cart' %}active{% endif %}" aria-current="page" href="{% url "cart" %}">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'wishlist' %}active{% endif %}" aria-current="page" href="{% url "wishlist" %}">Wishlist</a>
          </li>
          {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ request.user }}
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url "logout" %}">Logout</a></li>
              </ul>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url "login" %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "register" %}">SignUp</a>
            </li>
          {% endif %}
        </ul>
      </div>
  </div>
</nav>
